$primary:rgb(237, 237, 237);
$secondary1:rgb(251, 66, 118);
$secondary2:rgb(255, 123, 163);
$secondary3:rgb(253,165,34);
$secondary4:rgb(255, 193, 77);
$secondary5:rgb(32, 155, 255);
$secondary6:rgb(97, 182, 251);
$secondary7:rgb(177, 32, 255);
$secondary8:rgb(188, 120, 255);
$secondary9:rgb(255, 32, 117);
$secondary10:rgb(255, 120, 179);
